name: Deploy on VM (localhost)

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy with Ansible (localhost)
        run: |
          ansible-playbook -i ansible/inventories/production.yml ansible/playbooks/deploy.yml
